<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttiLA.LocalizationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>


  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Quando si distribuisce il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->
  <system.serviceModel>
    <services>
      <service name="AttiLA.LocalizationService.LocalizationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AttiLAService"   />
            <add baseAddress="net.pipe://localhost/AttiLAService" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Se non è completamente qualificato, l'indirizzo è relativo all'indirizzo di base fornito sopra -->
        <endpoint address="Localization" binding="basicHttpBinding" contract="AttiLA.LocalizationService.ILocalizationService">
          <!-- 
              Durante la distribuzione è necessario rimuovere o sostituire il seguente elemento Identity per riflettere 
              l'identità con cui viene eseguito il servizio distribuito. Se rimosso, WCF dedurrà automaticamente un'identità 
              appropriata.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Localization" binding="netNamedPipeBinding" contract="AttiLA.LocalizationService.ILocalizationService">

        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- L'endpoint di scambio metadati viene utilizzato dal servizio per offrire una migliore visualizzazione ai client. -->
        <!-- L'endpoint non utilizza un'associazione protetta e deve essere protetto o rimosso prima della distribuzione -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Per evitare la diffusione di informazioni sui metadati, 
          impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Per ricevere i dettagli sull'eccezione per scopi di debug in caso di guasti, 
          impostare il valore riportato sotto su true. Impostarlo su false prima della diffusione 
          per evitare di diffondere informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>

        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  
  
  
    <userSettings>
        <AttiLA.LocalizationService.Properties.Settings>
            <setting name="TrackerCaptureInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="TrackerUpdateInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LocalizerRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TrackerEnabledOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </AttiLA.LocalizationService.Properties.Settings>
    </userSettings>
</configuration>