<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttiLA.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AttiLA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttiLA.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AttiLA.WindowsService.Properties.Settings>
            <setting name="MessageServicePipe" serializeAs="String">
                <value>mex</value>
            </setting>
            <setting name="BindingPipeName" serializeAs="String">
                <value>netNamedPipeBinding</value>
            </setting>
        </AttiLA.WindowsService.Properties.Settings>
        <AttiLA.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </AttiLA.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AttiLA.WindowsService.Properties.Settings>
            <setting name="ServiceHostURI" serializeAs="String">
                <value>net.pipe://localhost/AttiLAService</value>
            </setting>
            <setting name="LocalizationServicePipe" serializeAs="String">
                <value>Localization</value>
            </setting>
        </AttiLA.WindowsService.Properties.Settings>
    </applicationSettings>
</configuration>