<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttiLA.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AttiLA.Data.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>AttiLA</value>
            </setting>
        </AttiLA.Data.Properties.Settings>
    </applicationSettings>
</configuration>