<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttiLA.Test.LocalizationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILocalizationService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ILocalizationService"  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AttiLAService/Localization"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocalizationService"
                contract="LocalizationServiceReference.ILocalizationService"
                name="BasicHttpBinding_ILocalizationService" />
            <endpoint address="net.pipe://localhost/AttiLAService/Localization"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILocalizationService"
                contract="LocalizationServiceReference.ILocalizationService"
                name="NetNamedPipeBinding_ILocalizationService">
                <identity>
                    <userPrincipalName value="MAGSEET\Riccardo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    
    <userSettings>
        <AttiLA.Test.LocalizationService.Properties.Settings>
            <setting name="EndpointConfigurationName" serializeAs="String">
                <value>NetNamedPipeBinding_ILocalizationService</value>
            </setting>
        </AttiLA.Test.LocalizationService.Properties.Settings>
    </userSettings>
</configuration>